includes:
    - phpstan-baseline.neon
parameters:
  phpVersion: 80100
  editorUrl: 'phpstorm://open?file=%%file%%&line=%%line%%'
  level: 6
  treatPhpDocTypesAsCertain: false
  reportUnmatchedIgnoredErrors: false
  paths:
    - Classes
    - Tests
    - Configuration
  excludePaths:
    analyse:
      -  Tests/Functional/Fixtures/Extensions/*
  ignoreErrors:
    - identifier: missingType.iterableValue
    -  identifier: missingType.generics
    - "#Used function Symfony\\\\Component\\\\DependencyInjection\\\\Loader\\\\Configurator\\\\abstract_arg not found#"
    - "#Function Symfony\\\\Component\\\\DependencyInjection\\\\Loader\\\\Configurator\\\\abstract_arg not found#"
    - "#Class Symfony\\\\Component\\\\Messenger\\\\Bridge\\\\Amqp\\\\Transport\\\\AmqpTransportFactory not found#"
    - "#Class Symfony\\\\Component\\\\Messenger\\\\Bridge\\\\Redis\\\\Transport\\\\RedisTransportFactory not found#"

