includes:
    - phpstan-baseline.neon
parameters:
  editorUrl: 'phpstorm://open?file=%%file%%&line=%%line%%'
  level: 6
  treatPhpDocTypesAsCertain: false
  checkMissingIterableValueType: false
  checkGenericClassInNonGenericObjectType: false
  reportUnmatchedIgnoredErrors: false
  paths:
    - Classes
    - Tests
    - Configuration
  excludePaths:
    analyse:
      -  Tests/Functional/Fixtures/Extensions/*
